*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: calc(10px + (14 - 10) * ((100vw - 400px) / (800 - 400)));
}

body {
  font-family: sans-serif;
  background: #260f26;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 14px;
  }
}
